atari-py==0.2.6
box2d-py==2.3.8
cloudpickle==1.3.0
dill==0.3.2
swing==0.0.4
gym==0.17.2
h5py==2.9.0
Keras-Preprocessing==1.1.2
matplotlib==3.0.0
matplotlib-inline==0.1.3
numpy==1.16.3
pandas==1.2.3
pickleshare==0.7.5
Pillow==8.2.0
protobuf==3.14.0
psutil==5.8.0
pygame==1.9.6
pyglet==1.5.0
Pygments==2.10.0
PyJWT==1.7.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.4.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.6.0
tensorflow==2.2.0
tensorflow-datasets==4.2.0
tensorflow-estimator==2.2.0
tensorflow-metadata==0.30.0
tensorflow-probability==0.7.0
